colorama
openai
pveagle
pvporcupine
pvrecorder
pyaudio
python-dotenv
requests
six
google-cloud-speech
google-cloud-texttospeech
sox
pydub
# websocket-client

# VADs
pvcobra
silero-vad  # Silero VAD
funasr  # FunASR
torch>=1.13  # FunASR dependency
torchaudio  # FunASR dependency

# Tools
black
coverage  # Measure code/test coverage
flake8  # Python linting
isort
